<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wehago.transaction.mapper.TransactionMapper">
<select id="selectAllTransactions" resultType="com.example.wehago.transaction.dto.TransactionResponseDto">
    SELECT
        t.transaction_id ,
        t.client_id ,
        c.name ,
        c.business_number,
        DATE_FORMAT(t.transaction_date, '%Y-%m-%d') AS transaction_date,
        t.transaction_amount,
        DATE_FORMAT(t.expected_payment_date ,'%Y-%m-%d') AS expected_payment_date,
        DATE_FORMAT(t.recovered_date ,'%Y-%m-%d') AS recovered_date,
        t.recovered_amount,
        t.created_at,
        t.updated_at
    from `transaction` t
    INNER JOIN  client c
    ON t.client_id = c.client_id
    <if test="condition.clientId != null and condition.clientId != ''">
    WHERE
     t.client_id = #{condition.clientId}
    </if>
    <if test="condition.clientId != null and condition.clientId != ''">
     ORDER BY transaction_date ASC
    </if>

</select>
    <insert id="insertTransaction" parameterType="map">
        INSERT INTO transaction
        (
            client_id,
            transaction_date,
            transaction_amount,
            expected_payment_date,
            recovered_date,
            recovered_amount,
            created_at,
            updated_at
        )
        VALUES (
                #{entity.clientId},
                STR_TO_DATE(#{entity.transactionDate}, '%Y-%m-%d'),
                #{entity.transactionAmount},
                STR_TO_DATE(#{entity.expectedPaymentDate}, '%Y-%m-%d'),
                STR_TO_DATE(#{entity.recoveredDate}, '%Y-%m-%d'),
                #{entity.recoveredAmount},
                NOW(),
                NOW()
               )
    </insert>
    <select id="selectTransactionRecoveryStats" resultType="com.example.wehago.transaction.dto.TransactionRecoveryStatsResponseDto">
        SELECT
            c.client_id,
            c.name,
            COUNT(*) AS total_count,
            SUM(CASE WHEN t.expected_payment_date &lt;= NOW() THEN t.transaction_amount ELSE 0 END) AS total_amount,
            SUM(CASE WHEN t.expected_payment_date &lt;= NOW() THEN t.recovered_amount ELSE 0 END) AS recovered_amount,
            ROUND(
            SUM(CASE WHEN t.expected_payment_date &lt;= NOW() THEN t.recovered_amount ELSE 0 END) /
            NULLIF(SUM(CASE WHEN t.expected_payment_date &lt;= NOW() THEN t.transaction_amount ELSE 0 END), 0) * 100, 2
            ) AS recovered_rate,
            ROUND(AVG(DATEDIFF(t.recovered_date, t.transaction_date))) AS avg_recovered_days,
            NOW() AS created_at,
            DATE_FORMAT(NOW(), '%Y-%m') AS month
        FROM `transaction` t
        JOIN client c ON c.client_id = t.client_id
        where t.expected_payment_date &lt;= NOW()
        GROUP BY c.client_id, c.name
    </select>

</mapper>