<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wehago.recovery.mapper.RecoveryMapper">
    <insert id="bulkInsertRecoveryStats" parameterType="list">

        INSERT INTO recovery_stat
        (
            client_id,
            month,
            start_transaction_date,
            total_amount,
            recovered_amount,
            recovered_rate,
            avg_recovered_days
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
               #{item.clientId},
               #{item.month},
               #{item.startTransactionDate},
               #{item.totalAmount},
               #{item.recoveredAmount},
               #{item.recoveredRate},
               #{item.avgRecoveredDays}
               )
        </foreach>
    </insert>
    <select id="selectRecoveryAllStats" resultType="com.example.wehago.recovery.dto.RecoverStatResponseDto">
        SELECT
            rs.stat_id ,
            rs.client_id ,
            DATE(rs.start_transaction_date) AS start_transaction_date,
            c.name,
            rs.`month` ,
            rs.total_amount ,
            rs.recovered_amount ,
            rs.recovered_rate ,
            rs.avg_recovered_days ,
            rs.created_at
        FROM recovery_stat rs
        INNER JOIN client c
            ON c.client_id = rs.client_id
        WHERE DATE(rs.created_at) = #{entity.createdAt}
    </select>
</mapper>