<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wehago.recovery.mapper.RecoveryMapper">
    <insert id="bulkInsertRecoveryStats" parameterType="list">

        INSERT INTO recovery_stat
        (
            client_id,
            month,
            start_transaction_date,
            total_amount,
            recovered_amount,
            recovered_rate,
            avg_recovered_days
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
               #{item.clientId},
               #{item.month},
               #{item.startTransactionDate},
               #{item.totalAmount},
               #{item.recoveredAmount},
               #{item.recoveredRate},
               #{item.avgRecoveredDays}
               )
        </foreach>
    </insert>
    <select id="selectRecoveryAllStats" resultType="com.example.wehago.recovery.dto.RecoverStatResponseDto">
        SELECT
            MAX(rs.stat_id) stat_id,
            rs.client_id,
            MAX(DATE(rs.start_transaction_date)) AS start_transaction_date,
            MAX(c.name) AS name,
            MAX(rs.`month`) AS `month` ,
            MAX(rs.total_amount) AS total_amount,
            MAX(rs.recovered_amount ) AS recovered_amount,
            MAX(rs.recovered_rate) AS recovered_rate ,
            MAX(rs.avg_recovered_days) AS avg_recovered_days,
            MAX(rs.created_at) AS created_at
        FROM recovery_stat rs
        INNER JOIN client c
            ON c.client_id = rs.client_id
        WHERE DATE(rs.created_at) = #{entity.createdAt}
        GROUP BY client_id
    </select>
</mapper>