<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wehago.client.mapper.ClientMapper">
    <select id="findById" resultType="com.example.wehago.client.dto.ClientEntity">
        SELECT email FROM client
        WHERE client_id = #{id}
    </select>
    <select id="selectAllClients" resultType="com.example.wehago.client.dto.ClientEntity">
        SELECT
            client_id,
            business_number,
            name,
            industry,
            email,
            contact,
            expected_recovery_days,
            memo,
            created_at,
            updated_at
        FROM client
    </select>
</mapper>