<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wehago.client.mapper.ClientMapper">
    <select id="findById" resultType="com.example.wehago.client.dto.ClientEntity">
        SELECT email FROM client
        WHERE client_id = #{id}
    </select>
    <select id="selectAllClients" resultType="com.example.wehago.client.dto.ClientEntity">
        SELECT
            client_id,
            business_number,
            name,
            industry,
            email,
            contact,
            expected_recovery_days,
            memo,
            created_at,
            updated_at
        FROM client
        WHERE del_yn = 'N'
    </select>
    <select id="selectExpectedRecoveryDaysByClientId" parameterType="String">
        SELECT
            expected_recovery_days
        FROM client
        WHERE  client_id = #{clientId}
    </select>
    <insert id="insertClient" parameterType="map">
        INSERT INTO client
        (
            business_number,
            name,
            industry,
            email,
            contact,
            expected_recovery_days,
            memo
        )
        VALUES (
                #{client.businessNumber}
               ,#{client.name}
               ,#{client.industry}
               ,#{client.email}
               ,#{client.contact}
               ,#{client.expectedRecoveryDays}
               ,#{client.memo}
               )
    </insert>
    <update id="updateClient" parameterType="map">
        UPDATE client
        SET
            business_number = #{client.businessNumber},
            name = #{client.name},
            industry = #{client.industry},
            email = #{client.email},
            contact = #{client.contact},
            expected_recovery_days = #{client.expectedRecoveryDays},
            memo = #{client.memo},
            updated_at = NOW()
        WHERE
            client_id = #{client.clientId}
    </update>
    <delete id="deleteClient" parameterType="map">
        UPDATE client
        SET
            del_yn = #{client.delYn}
        WHERE
            client_id = #{client.clientId}
    </delete>
</mapper>